@use './../../../../assets/styles/variables.scss';
@use './../../../../assets/styles/buttons.scss';


@media screen and (max-width:1100px){
  #conteiner{
      width: 50%;
  }
}

@media screen and (max-width:600px){
  #conteiner{
      width: 60%;
  }
}

@media screen and (max-width:450px){
  f#conteiner{
      width: 80%;
  }
}

@media screen and (max-width:300px){
  #conteiner{
      width: 90%;
  }
}