@use './../../../../assets/styles/variables.scss';
@use './../../../../assets/styles/buttons.scss';



#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}





#pedido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

#pedido strong {
  font-weight: bold;
}

#contenedorContacts{
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //gap: 20px;


  padding: 20px;
  margin-top: 0px;
  left: 10%;
  position: fixed;
  width: 60%;
  display: flex;
  height: 80%;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  align-content: space-between;
}
#padig{
  padding: 5px;
}
#contenedorbotones{
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  background-color: blanchedalmond;
  position: sticky;
  margin-top: 20px;
  left: 75%;
  top: 50px;
}
#menus{
  top: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
}
#botonpedidof{
  background-color:#c8f093; ;
  color: #0e0500;
  font-style: bold;
  cursor: pointer;
  border-radius: 10px;
}

#botonpedidoc{
  background-color:#f5d6d6; ;
  color: #0e0500;
  font-style: bold;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar {display: none;}

header{margin: auto;
  background-color: #FFFFF4;
  height: 90px;
  display: flexbox;
  position: relative;
  text-align: center;
  font-family:"Lobster";
  font-style: normal;
  font-size: 50px;
  font-weight:900;
  
  color: #0e0500;
}

#rutas{
  color: #8c1616;
  font-family: "Lobster";
  background-color: #FFFFF4;
  border: none;
  font-size: 20px;
  font-weight: 800;
}
body {


  background: rgb(116, 114, 44);
  background: linear-gradient(0deg, rgba(97, 96, 13, 0.967) 0%, rgba(241, 240, 138, 0.944) 100%);
}

#right{

  

  #wp{
    /* top: 20%; */
    position: absolute;
    /* z-index: 1; */
    left: 12%;
    height: 80px;
    width: 80px;

  }
}

