<body>
  <video src="./../../../../assets/videos/listanegra.mp4" type="video/mp4" playsinline loop autoplay [muted]="true"></video>
<header>Lista negra de contactos  <button [routerLink]="['/agregarContactos']"  id = "right"><img id="wp" src="./../../../../assets/icons/agregar-usuario.png"></button>
<button [routerLink]="['/contacts']" id = "drt">Salir</button>
</header>
<main id="container">
<div id="contenedorContacts">
  <app-ct-black
  *ngFor="let contact of contactBlackData"
  [contact]="contact"
  >
  </app-ct-black>
</div>
</main>
</body>