@use './../../../../assets/styles/variables.scss';
@use './../../../../assets/styles/buttons.scss';

header{margin: auto;
  display: flexbox;
  position: relative;
  text-align: center;
  font-family:cursive;
  font-style: italic;
  font-size: 50px;
  font-weight:900;
  
  color: #f5f2f1;
}

#contenedorContacts{overflow:scroll;
  height:89vh;
}
::-webkit-scrollbar {display: none;}

video{
  margin: auto;
  display: flexbox;
  position:absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {display: flexbox;

  background: url("./../../../../assets/imagen/panalListanegra.jpg");

}

  
 
  
#right{

  

  #wp{
    color: #f5f2f1;
    height: 35px;
    width: 35px; ;
  }
}

  
  button{ background: transparent;
    border-color: transparent;
    height: 35px;
    width: 35px;}

    #drt{  margin: auto;
      display: flexbox;
      position: relative;
      text-align: center;
      font-family:cursive;
      font-style: italic;
      font-size: 25px;
      font-weight:900;
      
      color: #fbfaf9}