<body>
    <video src="./../../../../assets/videos/registro.mp4" type="video/mp4" playsinline loop autoplay [muted]="true"></video>      
    <form action="">
        <div class="form">
            <h1>Agenda de Contactos</h1>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre:</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre de usuario:</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Password:</label>
            <button type="submit" [routerLink]="['']">registro</button>
        </div>
      </div>
    </form>  
    
  </body>