<body>

      
    <form action="">
        <div class="form">
            <h1>Nuevo Contacto</h1>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" ><span class="barra"></span>
                <label>Apellido</label>
            </div>
            <div class="grupo">
              <input type="text" id="" required><span class="barra"></span>
              <label>Celular</label>
          </div>
            <div class="grupo">
                <textarea name="" id="" rows="3" ></textarea><span class="barra"></span>
                <label>Detalle</label>
            </div>
            <button  type="submit">Agregar Contacto</button>
        </div>
    </form>
    
  </body>