<body>

    <header> <a href="menu" id = "right"><img id="wp" src="./../../../../assets/icons/logo.png"></a> La Nona Pola  comidas caseras & viandas  
    <button>Zona de entrega</button>
    </header>
    <div id = "menus"><button id="rutas" [routerLink]="['/menu']">Inicio</button><button id="rutas" [routerLink]="['/zonaEntrega']">Zona de entrega</button><button id="rutas">Contacto</button><button id="rutas">Registro</button></div>

    <main id="container">
    
        <a ><img id="zona" src="./../../../../assets/icons/zonadeentrega.png"></a> 
    
    
    </main>
    </body>