<body>
  <video
    src="./../../../../assets/videos/panal.mp4"
    type="video/mp4"
    playsinline
    loop
    autoplay
    [muted]="true"
  ></video>

  <form
    #editForm="ngForm"
    (ngSubmit)="editForm.valid && updateContact(editForm)"
  >
    <div class="form">
      <h1>Editar Contacto</h1>

      <div class="grupo">
        <input
          value="{{ contact.name }}"
          type="text"
          name="name"
          id="name"
          required
          [(ngModel)]="contact.name"
          #name="ngModel"
        /><span class="barra"></span>
        <label class="name" for="name">Nombre</label>
      </div>
      <div class="grupo">
        <input
          value="{{ contact.description }}"
          type="text"
          name="description"
          id="description"
          [(ngModel)]="contact.description"
          #description="ngModel"
        />
        <span class="barra"></span>
        <label>Descripcion:</label>
      </div>
      <div class="grupo">
        <input
          value="{{ contact.celularNumber }}"
          type="number"
          name="celularNumber"
          id="celularNumber"
          [(ngModel)]="contact.celularNumber"
          #celularNumber="ngModel"
        /><span class="barra"></span>
        <label>Numero de celular:</label>
      </div>
      <div class="grupo">
        <input
          value="{{ contact.telephoneNumber }}"
          type="number"
          name="telephoneNumber"
          id="telephoneNumber"
          [(ngModel)]="contact.telephoneNumber"
          #telephoneNumer="ngModel"
        /><span class="barra"></span>
        <label>Numero de telefono:</label>
      </div>
      <button type="submit">Editar</button>
      <button [routerLink]="['/contacts']">Cancelar</button>
    </div>
  </form>
</body>
