<body>
    <video src="./../../../../assets/videos/panal.mp4" type="video/mp4" playsinline loop autoplay [muted]="true"></video> 
      
    <form #editForm="ngForm" (ngSubmit)="editForm.valid && updateContact(editForm)">
        <div class="form">
            <div class="grupo">
                <input value="{{contact.id}}"type="text" name="id" id="name" required [(ngModel)]="contact.id" #name="ngModel"/><span class="barra"></span>
                <label class="name" for="name">id contacto</label>
                
            </div>
            <div class="grupo">
                <input type="text" value="{{contact.id}}" [hidden]="true" name="id" [(ngModel)]="contact.id" #id="ngModel">
                <input value="{{contact.name}}"type="text" name="name" id="name" required [(ngModel)]="contact.name" #name="ngModel"/><span class="barra"></span>
                <label class="name" for="name">Nombre</label>
                
            </div>
            <div class="grupo">
                <input value="{{contact.description}}" type="text" name="description" id="description" [(ngModel)]="contact.description" #description="ngModel" > <span class="barra"></span>
                <label>Description</label>
            </div>
            <div class="grupo">
              <input value="{{contact.celularNumber}}" type="number" name="cellPhoneNumber" id="cellPhoneNumber"[(ngModel)]="contact.celularNumber" #cellPhoneNumber="ngModel"><span class="barra"></span>
              <label>Numero de celular</label>
          </div>
          <div class="grupo">
            <input value="{{contact.telephoneNumber}}" type="number" name="telephoneNumber" id="telephoneNumber" [(ngModel)]="contact.telephoneNumber" #telephoneNumer="ngModel" ><span class="barra"></span>
            <label>Numero de telefono</label>
        </div>
            <button  type="submit" >Agregar</button>
            <button  [routerLink]="['/contacts']">Cancelar</button>
            
            
        </div>
    </form>
    
  </body>