header {
  margin: auto;
  display: flexbox;
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 50px;
  font-weight: 900;

  color: #ffffff;
}

video {
  margin: auto;
  display: flexbox;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  display: flexbox;

  background: url("./../../../../assets/imagen/fondoregllam.jpg");
}

#right {
  #wp {
    height: 35px;
    width: 35px;
  }
}
