<body>  
    <video src="./../../../../assets/videos/mar-atardecer.mp4" autoplay loop muted></video> 
    <form action="">
        <div class="form">
            <h1>Agenda de Contactos</h1>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre de usuario:</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Password:</label>
            <button type="submit" id ="login"[routerLink]="['contacs']">Login</button>
            <button type="submit" id ="registrar"[routerLink]="['registro']">registrar</button>
        </div>
      </div>
    </form>  
    
  </body>