<body>      
    <form action="">
        <div class="form">
            <h1>Agenda de Contactos</h1>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre de usuario:</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Password</label>
            <button type="submit" [routerLink]="['contacs']">Login</button>
        </div>
      </div>
    </form>  
    
  </body>