
    <div action="" id="conteiner" >
        
        
        <div id="form" >
            <div id="grupo"><button id= "button-emergente" class="btn btn-primary" (click)="emergente = true" (dblclick)="emergente = false">
                <p id="name" [routerLink]="['contacts',contact.id]">{{contact.username}} {{contact.company?.name}}</p>
                <span id="telephoneNumber">{{contact.phone}} </span>  
                    
                  </button>
                
            </div>
            
            
        </div>
        
    </div>
  
    <app-pop-up *ngIf="emergente" [contact]="contact" ></app-pop-up>
