
<div action="" id="conteiner" >
        
        
    <div id="form" >
        <div id="grupo"><button id= "button-emergente" class="btn btn-primary" (click)="agregarProducto()">
            <div id = "encabezado">
                <p id="name" [routerLink]="['contacts',contact.id]"> {{contact.name}}</p>
            </div>
            <div id="contFoto"><img id="fotocomida" [src]="contact.imagen" alt="{{contact.name}}">
            </div>
            <div id="descripcionfoto"><p id="name" [routerLink]="['contacts',contact.id]"> {{contact.descripcion}}</p>
            <div id ="precioycantidad"><p id="name" [routerLink]="['contacts',contact.id]"> ${{contact.precio}}   agregados: {{contact.cantidad}}</p></div></div>
                
            
            



            
              </button>
        </div>
        
        
    </div>
    
</div>


