
<body>
    <div action="" id="conteiner">
        <div id="form">
            <div id="grupo">
                <p id="name" [routerLink]="['contacts',contact.id]">{{contact.username}} {{contact.company?.name}}</p>
                <span id="telephoneNumber">{{contact.phone}}</span>
            </div>
            <div id="grupo2">
                <a href="https://wa.me/{{contact.phone}}" target="_blank" id = "right"><img id="wp" src="./../../../../assets/icons/whatsapp.png"></a>
                <a href="tel:{{contact.phone}}" id = "right"><img id="wp" src="./../../../../assets/icons/llamada-telefonica.png"></a>
                <a href="lista-negra" id = "right"><img id="wp" src="./../../../../assets/icons/bloquear-usuario.png"></a>
                <a href="." id = "right"><img id="wp" src="./../../../../assets/icons/eliminar-usuario.png"></a>
                <a href="." id = "right"><img id="wp" src="./../../../../assets/icons/edit.png"></a>
            </div>
        </div>
        
    </div>
    
  </body>
